.card{
    background-color: rgb(145, 97, 233)!important;
    width:60%;
    margin-left: 0!important;
}
.card2{
    width:24rem;
    position: absolute;
    right: 0;
    background-color: rgb(145, 97, 233)!important;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid rgb(78, 76, 76);
}
#checkout{
    position: static;
    margin-top: 3rem;
    margin-left:55rem;
    z-index: -4;
}